<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget" style="margin-left: 400px">
                <h4>دیگر سایت ها ما</h4>
                <ul>
                    <li><a href="#">مدیریت وب سایت</a></li>
                    <li><a href="#">برنامه نویسان</a></li>
                    <li><a href="#">لرن تاپ</a></li>
                    <li><a href="#">اموزش کده</a></li>
                </ul>
            </div>


        </div>
        <div class="row footer-bottom d-flex justify-content-between" style="margin-left:400px">

            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->